<h1>About</h1>
<p>This website was created by a certain Zachary Weaver through a poorly written python flask application and some api calls to the Youtube api.</p>
<hr>
<h1>Links to important stuff:</h1>
<div class="centered">
    <ul>
        <li><a href="https://www.youtube.com/watch?v=zK4TWXWEKAQ" class="no_style">The video this site is about</a></li>
        <li><a href="https://www.youtube.com/user/taia777" class="no_style">taia777's channel</a></li>
    </ul>
</div>
<hr>
<h1>FAQ</h1>
<p class="bold">Why on earth did you make this?</p>
<p>I had a lot of spare time due to quarantine, so here I am I guess.</p>
<br/>
<p class="bold">Where did you find this video?</p>
<p>Youtube recommended it to me, same as most others.</p>
<br/>
<p class="bold">I hate this site. Where can I send death threats to?</p>
<p>You can gladly send them to iamawesomeuknow99@gmail.com, though death threats (and any other kind of mail) will probably be ignored.</p>
<br/>
<p class="bold">This video is cool! Can I share it (or this site) with my friends?</p>
<p>It's not really up to me. Some people see the people who know about this video as a kind of "secret society" and wouldn't want it to be spread, but I personally don't mind it.</p>
<br/>
<p class="bold">I want to add a checkpoint/comment/offensive statement to this website!</p>
<p>The website periodically gets the comments from the source video itself, so you should leave a comment on the original video.</p>
<p>Do me a favor and don't post offensive content for the fun of it.</p>
<br/>
<p class="bold">Where did "t3c" come from?</p>
<p>t3c originally came from me copy-pasting the title into Google translate. It gave me "Thorn Thorn Tail Color", which I made into an acronym. It stuck with me, so I used it for this.</p>
