<h1>Comments</h1>
<p>Click "Random Comment" to get a random comment and it's replies from taia777's first video.</p>
<p>The timestamp is converted to local time.</p>
<hr>
<div id="comment-container">
    <p class="bold">
        Be warned that not all comments are checkpoints, and that some comments, including checkpoints,
        may contain vulgar language.
    </p>
</div>
<hr>
<div class="centered">
    <button type="button" onclick="newComment()" class="styled_button">Random Comment</button>
</div>