<h1>Index</h1>
<p>On September 5, 2007, the account by the name "taia777" was created.</p>
<p>It took until April 26, 2012 for taia777 to upload his first video.</p>
<p>This video has the title とげとげタルめいろ"スーパードンキーコング2", which translates as Stickerbrush Symphony "Donkey Kong Country 2". </p>
<p>The video consists of the music track on the title, along with a pixelated image of vines on a slowly scrolling background of clouds.</p>
<p>This page's background is a loop of the video, and the background music (see top right) is the same music track.</p>
<hr>
<p>It wasn't until mid-late 2019 when the video gained popularity. The youtube recommended AI recommended this video to many different users. The video gained a lot of views, possible due to the mysterious nature of the video. Who wouldn't click on a with a Japanese title and a strange thumbnail?</p>
<p>Of course, this video garnered a lot of comments about how this video is the end of the internet and others, but the most interesting thing about the comments are the checkpoints.</p>
<p>Somehow, people in the comments started commenting a short tale about their recent life, as if to save their progress, or as if they hit a checkpoint. As some people started to do these checkpoints, other people followed.</p>
<p>These short stories give a glimpse into the pains of others, and are honestly just an interesting read.</p>
<p>The video continues to grow popularity as Youtube continues to recommend this video to others.</p>
<hr>
<p>Despite this video containing most of the internet checkpoints, not all of the comments on this video are checkpoints.</p>
<p>There are many comments commenting on the music, as well as comments complaining about the checkpoints on this video.
<p>Comments in languages other than English also appear on this video, these usually seem to be in Japanese or in Portuguese</p>
<hr>
<p>Sometime in 2021, the main video, along with several others on taia777's channel. The whole channel was eventually taken down for copyright. </p>
<p>Eventually, the whole channel was deleted. However, I managed to find backups of the comments at <a href="https://www.reddit.com/r/taia777/comments/o1rls6/taia777_videos_and_comments_archive/" target="_blank"> this reddit post</a> and I have used this data for the current website.</p>
<hr>
<br/>
<div class="centered">
    <a onclick="load('comments')" class="styled_button">Comments</a>
</div>